<style>

a{text-decoration: none}
.input {position: absolute;
    right: 82%;
    }

</style>
 <form action="" method="post">
  {% csrf_token %}
  <label>Name: </label>
  <input class="input" name = "name" value="{{person.name}}"> 
  <br>
  <label>Phone: </label>
  <input class="input" name="phone"  value="{{person.phone}}">
  <br>
  <label>Age: </label>
  <input class="input" name="age"  value="{{person.age}}">
  <br>
  <input type="hidden" name="id" value="{{person.id}}">
  <input  type="submit" value="Submit" style="margin-left: 128px">
  <button style="margin-top: 5px"><a href="/" >Index</a></button>
 </form>
 
